<section>
	<h1>Todo.</h1>
	<p class="detail">by Angular</p>

	<label class="text">
		<i class="fa fa-plus"></i>
		<input placeholder="What do you want to do ?" autofocus [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
	</label>

	<ul class="todo-list" *ngIf="todos.length > 0">
		<li *ngFor="let todo of todos" [class.completed]="todo.complete">
			<label class="option">
				<input type="checkbox" [checked]="todo.complete" (click)="toggleTodoComplete(todo)">
				<span>
					<i class="fa fa-check"></i>
				</span>
				<p>{{todo.title}}</p>
			</label>
			<i class="fa fa-times" (click)="removeTodo(todo)"></i>
		</li>
	</ul>
</section>