section { width: 600px; margin: 0 auto; text-align: initial; }

h1 { font-weight: normal; font-size: 48px; text-align: center; }
p.detail { color: #9ca8b4; margin-bottom: 30px; text-align: center; }

label.text { position: relative; background: #ffffff; border: 1px solid #e1e6ef; border-radius: 4px; display: block; line-height: 60px; height: 60px; margin-bottom: 30px; }
label.text i { width: 60px; line-height: 58px; height: 58px; position: absolute; top: 0; left: 0; text-align: center; }
label.text input { background: transparent; outline: none; border: none; font: inherit; color: inherit; padding-left: 60px; width: 100%; font-size: 18px; }
label.text input::-webkit-input-placeholder { color: #9ca8b4; }

ul { list-style: none; }
ul li { position: relative; background: #ffffff; border-radius: 4px; }
ul li label { display: block; width: calc(100% - 50px); padding: 15px; cursor: pointer; }
ul li label:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
ul li label span { float: left; width: 20px; height: 20px; line-height: 18px; text-align: center; border: 1px solid #e1e6ef; background: #ffffff; margin-right: 11.25px; }
ul li label span i { transition: 0.3s; transform: scale(0); color: #7ABF66; }
ul li label input { display: none; }
ul li label input:checked + span i { transform: scale(1); }
ul li label p { transition: 0.3s; float: left; line-height: 20px; position: relative; }
ul li label p:before { transition: 0.3s; content: ""; width: 0; height: 1px; background: #4f5b68; position: absolute; top: 11px; left: 0; }
ul li > i { transition: 0.3s; opacity: 0.35; width: 50px; line-height: 50px; position: absolute; top: 0; right: 0; text-align: center; cursor: pointer; }
ul li > i:hover { opacity: 1; }

ul li.completed label p { opacity: 0.35; }
ul li.completed label p:before { width: 100%; }